@model UserManagement.Web.Models.Users.UserListItemViewModel

<div>


    <h4>View User (Id: @Model.Id)</h4>

    <hr />
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@Model.Id</dd>
        <dt>Forename</dt>
        <dd>@Model.Forename</dd>
        <dt>Surname</dt>
        <dd>@Model.Surname</dd>
        <dt>Email</dt>
        <dd>@Model.Email</dd>
        <dt>Active</dt>
        <dd>@(Model.IsActive ? "Yes" : "No")</dd>
        <dt>Date of Birth</dt>
        <dd>@Model.DateOfBirth.ToString("yyyy-MM-dd")</dd>
    </dl>

    <hr />
    <h4>Change Logs </h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Entity</th>
                <th>Action</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Logs)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.EntityName
                    </td>
                    <td>
                        @item.Action
                    </td>
                    <td>
                        @item.Date.ToShortDateString()
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")

</p>
