@model UserManagement.Web.Models.Users.EditUserViewModel

<h2>Edit User</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group mt-2">
        @Html.LabelFor(model => model.Forename, new { @class = "col-sm-3 col-form-label" })
        @Html.TextBoxFor(model => model.Forename, new { @class = "form-control col-sm-9" })
        @Html.ValidationMessageFor(model => model.Forename)
    </div>

    <div class="form-group mt-2">
        @Html.LabelFor(model => model.Surname, new { @class = "col-sm-3 col-form-label" })
        @Html.TextBoxFor(model => model.Surname, new { @class = "form-control col-sm-9" })
        @Html.ValidationMessageFor(model => model.Surname)
    </div>

    <div class="form-group mt-2">
        @Html.LabelFor(model => model.Email, new { @class = "col-sm-3 col-form-label" })
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control col-sm-9" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="form-group mt-2">
        @Html.LabelFor(model => model.IsActive)
        @Html.CheckBoxFor(model => model.IsActive)
        @Html.ValidationMessageFor(model => model.IsActive)
    </div>

    <div class="form-group mt-2">
        @Html.LabelFor(model => model.DateOfBirth , new { @class = "col-sm-3 col-form-label" })
        @Html.TextBoxFor(model => model.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control col-sm-9 datepicker", type = "date" })
        @Html.ValidationMessageFor(model => model.DateOfBirth)
    </div>

    <div class="form-group mt-2">
        <input type="submit" value="Update" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
    </div>
}
